Repository aster-void/just-a-chat-app: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prepare-sqlx

biome:
  run: biome check {staged_files}

prepare-sqlx:
  run: cd server; cargo sqlx prepare; git add .sqlx

wip: basic chat
  server/.sqlx/query-2f2355dfcb1e28469d24e975ca734f60f15569fbe2c40a1b11bafe8873e15b97.json
  server/.sqlx/query-db5a1bd252836ef6da6cc43ee6fc1653963d6b7b29f30edf1eb83158cf17b130.json
  server/migrations/20241012083620_init.up.sql
  server/src/entity/chat.rs
  server/src/main.rs
  server/src/router/chat.rs
Due: prepare-sqlx

create seed
  sql/seed.sql
Due: none

make channels and send messages in channels
  seed.sh
  server/.sqlx/query-0fa59a48e34a4f2548f4adf19cea4e6c7bcf96fa5c4db67550c2f0a224a2c86b.json
  server/.sqlx/query-38b5da9fc920b58373cfb5865d9c87cb4e3a5d0aa257aa1ff45b24ccb740a1cb.json
  server/.sqlx/query-718492b7bc2a9bd7441262a66b928d5daaa21effaf600f6c5a21d5f2b819a102.json
  server/.sqlx/query-87579aa6074bf55d56fce8c16e698163bc3c25eae1a1b8de15e5c1fc17d64d51.json
  server/.sqlx/query-cce02013160221df3520aa8120473742733320cfdcf2c0adda37f29e17c35bf2.json
  server/src/entity/auth.rs
  server/src/entity/workspace.rs
  server/src/main.rs
  server/src/router/chat.rs
  server/src/router/workspace.rs
Due: prepare-sqlx

rewrite seed.sh into seed.ts and fix biome.json
  biome.json
  seed.sh
  seed.ts
Due: biome

change lefthook
  lefthook.yml
Due: none

rewrite seed.sh in nushell
  nix/tools.nix
  seed.sh
  seed.ts
Due: biome

update web/packages
  web/bun.lockb
  web/package.json
Due: none

sv check
  web/src/routes/(app)/w/[id=number]/+page.svelte
  web/src/routes/(web)/login/+page.svelte
  web/src/routes/(web)/signup/+page.svelte
Due: biome

svelte: SSR no longer gets blocked on await (thanks svelte)
  justfile
  web/src/routes/(app)/home/+page.svelte
  web/src/routes/(app)/home/+page.ts
  web/src/routes/(app)/new/+page.svelte
  web/src/routes/(app)/w/[id=number]/+page.svelte
  web/src/routes/(app)/w/[id=number]/+page.ts
  web/src/routes/(app)/w/[id=number]/members/+page.svelte
  web/src/routes/(app)/w/[id=number]/members/+page.ts
  web/src/routes/users/+page.ts
Due: biome

fix lefthook
  lefthook.yml
Due: none

web: first message sent from web UI
  justfile
  server/src/router/auth.rs
  sql/seed.sql
  web/src/components/Error.svelte
  web/src/lib/Auth.svelte
  web/src/lib/api/chat.ts
  web/src/lib/api/room.ts
  web/src/lib/api/user.ts
  web/src/lib/api/workspace.ts
  web/src/lib/schema.ts
  web/src/lib/types.ts
  web/src/pages/Workspace.svelte
  web/src/routes/(app)/home/+page.svelte
  web/src/routes/(app)/w/[id=number]/+page.svelte
  web/src/routes/(app)/w/[id=number]/+page.ts
  web/src/routes/(app)/w/[id=number]/members/+page.svelte
  web/src/routes/(app)/w/[id=number]/new-channel/+page.svelte
  web/src/routes/users/+page.svelte
Due: biome, prepare-sqlx

Path conditions:
  biome: any of: *.{js,ts,jsx,tsx,astro,svelte}
  prepare-sqlx: any of: server/*
